<!DOCTYPE html>
<html ng-app="resturant.robot">
<head>
	<meta charset="UTF-8">
	<title>Server Side Restaurant</title>
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <link href="css/bootstrap.css" rel="stylesheet">

</head>
<body>
	<div ng-controller="ResturantController">
		<div class="row">
			<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">Table 1 <div ng-show="tables[0].bill > 0"><span>$</span> {{tables[0].bill}}</div></h3>
						</div>
						<div class="panel-body">
							<div class="btn-group-vertical" role="group" aria-label="...">
								<button type="button" ng-hide="tables[0].occupied" ng-disabled="tables[0].disabled" class="btn btn-default" data-table="1" ng-click="occupy(0)">Occupy</button>
								<button type="button" ng-show="tables[0].occupied" class="btn btn-default" data-table="1" ng-click="orderFood(0)">Order Food</button>
								<button type="button" ng-show="tables[0].occupied" class="btn btn-default" data-table="1" ng-click="orderDrink(0)">Order Drink</button>
								<button type="button" ng-show="tables[0].bill > 0" ng-click="paybill(0)" class="btn btn-success" data-table="1" ng-disabled="tables[0].disabled">Pay Bill</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">Table 2 <div ng-show="tables[1].bill > 0"><span>$</span> {{tables[1].bill}}</div></h3>
						</div>
						<div class="panel-body">
							<div class="btn-group-vertical" role="group" aria-label="...">
								<button type="button" ng-hide="tables[1].occupied" ng-disabled="tables[1].disabled" class="btn btn-default" data-table="2" ng-click="occupy(1)">Occupy</button>
								<button type="button" ng-show="tables[1].occupied" class="btn btn-default" data-table="2" ng-click="orderFood(1)">Order Food</button>
								<button type="button" ng-show="tables[1].occupied" class="btn btn-default" ng-click="orderDrink(1)" data-table="2">Order Drink</button>
								<button type="button" ng-show="tables[1].bill > 0" ng-click="paybill(1)" class="btn btn-success" data-table="2" ng-disabled="tables[1].disabled">Pay Bill</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">Table 3 <div ng-show="tables[2].bill > 0"><span>$</span> {{tables[2].bill}}</div></h3>
						</div>
						<div class="panel-body">
							<div class="btn-group-vertical" role="group" aria-label="...">
								<button type="button" ng-hide="tables[2].occupied" ng-disabled="tables[2].disabled" class="btn btn-default" data-table="3" ng-click="occupy(2)">Occupy</button>
								<button type="button" ng-show="tables[2].occupied" class="btn btn-default" data-table="3" ng-click="orderFood(2)">Order Food</button>
								<button type="button" ng-show="tables[2].occupied" class="btn btn-default" data-table="3" ng-click="orderDrink(2)">Order Drink</button>
								<button type="button" ng-show="tables[2].bill > 0" ng-click="paybill(2)" class="btn btn-success" data-table="3" ng-disabled="tables[2].disabled">Pay Bill</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">Table 4 <div ng-show="tables[3].bill > 0"><span>$</span> {{tables[3].bill}}</div></h3>
						</div>
						<div class="panel-body">
							<div class="btn-group-vertical" role="group" aria-label="...">
								<button type="button" ng-hide="tables[3].occupied" ng-disabled="tables[3].disabled" class="btn btn-default" data-table="4" ng-click="occupy(3)">Occupy</button>
								<button type="button" ng-show="tables[3].occupied" class="btn btn-default" data-table="4" ng-click="orderFood(3)">Order Food</button>
								<button type="button" ng-show="tables[3].occupied" class="btn btn-default" data-table="4" ng-click="orderDrink(3)">Order Drink</button>
								<button type="button" ng-show="tables[3].bill > 0" ng-click="paybill(3)" class="btn btn-success" data-table="4" ng-disabled="tables[3].disabled">Pay Bill</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">Table 5 <div ng-show="tables[4].bill > 0"><span>$</span> {{tables[4].bill}}</div></h3>
						</div>
						<div class="panel-body">
							<div class="btn-group-vertical" role="group" aria-label="...">
								<button type="button" ng-hide="tables[4].occupied" ng-disabled="tables[4].disabled" class="btn btn-default" data-table="5" ng-click="occupy(4)">Occupy</button>
								<button type="button" ng-show="tables[4].occupied" class="btn btn-default" data-table="5" ng-click="orderFood(4)">Order Food</button>
								<button type="button" ng-show="tables[4].occupied" class="btn btn-default" data-table="5" ng-click="orderDrink(4)">Order Drink</button>
								<button type="button" ng-show="tables[4].bill > 0" ng-click="paybill(4)" class="btn btn-success" data-table="5" ng-disabled="tables[4].disabled">Pay Bill</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">Table 6 <div ng-show="tables[5].bill > 0"><span>$</span> {{tables[5].bill}}</div></h3>
						</div>
						<div class="panel-body">
							<div class="btn-group-vertical" role="group" aria-label="...">
								<button type="button" ng-hide="tables[5].occupied" ng-disabled="tables[5].disabled" class="btn btn-default occupy" data-table="6" ng-click="occupy(5)">Occupy</button>
								<button type="button" ng-show="tables[5].occupied" class="btn btn-default" data-table="6" ng-click="orderFood(5)">Order Food</button>
								<button type="button" ng-show="tables[5].occupied" class="btn btn-default" data-table="6" ng-click="orderDrink(5)">Order Drink</button>
								<button type="button" ng-show="tables[5].bill > 0" ng-click="paybill(5)" class="btn btn-success" data-table="6" ng-disabled="tables[5].disabled">Pay Bill</button>
							</div>
						</div>
					</div>
				</div>
		</div>
		<div class="row">
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="overflow: auto; height:600px">
					<h2>Kitchen Queue</h2>
					<table class="table table-striped">
						<thead>
							<tr><th>Table #</th><th>Food Item</th><th>Progress</th></tr>
						</thead>
						<tbody>
							<tr ng-repeat="food in kitchenQueue | orderBy: '-timeleft' track by $index " ng-if="food">
								<td>Table {{food.id}}</td>
								<td>{{food.item}}</td>
								<td><progressbar animate="true" class="progress-striped" value="food.timeleft" type="{{food.status}}">{{food.timeleft}}%</progressbar></td>
							</tr>	
						</tbody>
					</table>
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<div id = "blackbox" >
					<div id="table1">
						<img class="face" src="img/face.png" ng-show="tables[0].occupied"/>
						<img class="angry" src="img/angry.png" ng-show="tables[0].status == 'pending'"/>
						<img class="tableImg1" src='img/table.png'/>
					</div>
					<div id="table2">
						<img class="face" src="img/face.png"  ng-show="tables[1].occupied"/>
						<img class="angry" src="img/angry.png" ng-show="tables[1].status == 'pending'"/>
						<img class="tableImg1" src='img/table.png'/>
					</div>
					<div id="table3">
						<img class="face" src="img/face.png" ng-show="tables[2].occupied"/>
						<img class="angry" src="img/angry.png" ng-show="tables[2].status == 'pending'"/>
						<img class="tableImg1" src='img/table.png'/>
					</div>
					<div id="table4">
						<img class="face" src="img/face.png" ng-show="tables[3].occupied"/>
						<img class="angry" src="img/angry.png" ng-show="tables[3].status == 'pending'"/>
						<img class="tableImg1" src='img/table.png'/>
					</div>
					<div id="table5">
						<img class="face" src="img/face.png" ng-show="tables[4].occupied"/>
						<img class="angry" src="img/angry.png" ng-show="tables[4].status == 'pending'"/>
						<img class="tableImg1" src='img/table.png'/>
					</div>
					<div id="table6">
						<img class="face" src="img/face.png" ng-show="tables[5].occupied"/>
						<img class="angry" src="img/angry.png" ng-show="tables[5].status == 'pending'"/>
						<img class="tableImg1" src='img/table.png'/>
					</div>
					
					<div class='kitchen'>
						<img id="kitchenCounter" src="img/kitchen.png"/>
						<div class='robot'>
							<img id="robotArm" src="img/robotArm.png"/>
						</div>
					</div>
					<audio style='display:none;' id='cash' preload='auto'>
						<source src="sfx/cash.mp3"></source>
					</audio>

				</div>
				<div class="alert alert-info" role="alert"><h3>{{message}}</h3></div>
				<div class="options">
					<select class="form-control" ng-options="interval.interval as interval.name for interval in intervals" ng-change="updateInterval()" ng-model="currentInterval"></select>

				</div>
				<div class='sound'>
					SFX: <input type='checkbox' ng-model='playSounds' />
				</div>
			</div>

			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="overflow: auto; height:600px">
					<h2>Robot Queue</h2>
					<table class="table table-striped">
						<thead>
							<tr><th>Table #</th><th>Food Item</th><th>Action</th></tr>
						</thead>
						<tbody>
							<tr ng-repeat="order in orders">
								<td>{{order.id + 1 }}</td>
								<td>{{order.item}}</td>
								<td>{{order.command}}</td>
							</tr>	
						</tbody>
					</table>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				{{visits}}
			</div>
		</div>
	</div>




<script type="text/javascript">
	// var queue = [];
	// $('.occupy').click(function(){
	// 	var panel = $(this).parent().parent().parent();
	// 	panel.removeClass('panel-primary').addClass('panel-success');
	// 	queue.push({'message':'Greet Table' + $(this).attr('table'),'table':$(this).attr('table') });
	// });


	// jQuery('.occupy.table1').click(function(){
	// 	jQuery('#table1').css({"border-color": "white",
 //             "border-width":"3px",
 //             "border-style":"solid"});
	// 	jQuery('.orderDrink.table1').show();
	// 	jQuery('.orderFood.table1').show();
	// 	jQuery('.occupy.table1').hide();
	// 	// jQuery('.robot').animate({top:$('#table1').position().top,left:$('#table1').position().left});
	// 	// jQuery('.robot').animate({top:'430px',left:'250px'});
	// });

	// jQuery('.orderDrink.table1').click(function(){
	// 	jQuery('.robot').animate({top:$('#table1').position().top,left:$('#table1').position().left},700);
	// 	jQuery('.robot').animate({top:'430px',left:'250px'},700);
	// 	jQuery('.payCheck.table1').show();
	// });

	// jQuery('.orderFood.table1').click(function(){
	// 	jQuery('.robot').animate({top:$('#table1').position().top,left:$('#table1').position().left},700);
	// 	jQuery('.robot').animate({top:'430px',left:'250px'},700);
	// 	jQuery('.payCheck.table1').show();
	// });

	// jQuery('.payCheck.table1').click(function(){
	// 	jQuery('.robot').animate({top:$('#table1').position().top,left:$('#table1').position().left},700);
	// 	jQuery('#table1').css({"border":"none"});
	// 	jQuery('.robot').animate({top:'430px',left:'250px'},700);
	// 	jQuery('.orderDrink.table1').hide();
	// 	jQuery('.orderFood.table1').hide();
	// 	jQuery('.payCheck.table1').hide();
	// 	jQuery('.occupy.table1').show();
	// })





</script>

</body>
</html>
