<!DOCTYPE html>
<html ng-app="resturant.robot">
<head>
	<meta charset="UTF-8">
	<title>Server Side Restaurant</title>
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <link href="css/bootstrap.css" rel="stylesheet">

</head>
<body>
	<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Table {{tablenum}}</h3>
            <h1>Menu</h1>
        </div>
        <div class="modal-body">
        	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        		<table class="table table-striped table-hover">
        			<thead>
        				<tr>
        					<th>Food</th>
        					<th>Price</th>
        					<th>Quantity</th>
        				</tr>
        			</thead>
        			<tbody>
        				<tr ng-repeat="(key,food) in foods">
        					<td>{{food.name}}</td>
        					<td>${{food.price}}</td>
        					<td><select ng-model="food.quantity" ng-options="num for num in range()" ng-change="updateOrder()"></select></td>
        				</tr>
        			</tbody>
        		</table>
        	</div>
        	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        		<table class="table table-striped table-hover">
        			<thead>
        				<tr>
        					<th>Drink</th>
        					<th>Price</th>
        					<th>Quantity</th>
        				</tr>
        			</thead>
        			<tbody>
        				<tr ng-repeat="(key,drink) in drinks">
        					<td>{{drink.name}}</td>
        					<td>${{drink.price}}</td>
        					<td><select ng-model="drink.quantity" ng-options="num for num in range()" ng-change="updateOrder()"></select></td>
        				</tr>
        			</tbody>
        		</table>
        	</div>
        	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="foodOrders.length > 0 || drinkOrders.length >0">
        		<h1>Order Summary</h1>
        		<div ng-show="foodOrders.length > 0">
	        		<h3>Food Orders</h3>
	        		<ul class="list-group">
	        			<li class="list-group-item" ng-repeat="food in foodOrders">
						    <span class="badge">${{food.price}} x {{food.quantity}}</span>
						    {{food.name}}
						</li>
	        		</ul>
        		</div>
        		<div ng-show="drinkOrders.length > 0">
	        		<h3>Drink Orders</h3>
	        		<ul class="list-group">
	        			<li class="list-group-item" ng-repeat="drink in drinkOrders">
						    <span class="badge">${{drink.price}} x {{drink.quantity}}</span>
						    {{drink.name}}
						</li>
	        		</ul>
        		</div>
        	</div>
        	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        		<h3><span class="label label-default"> Current Order: ${{bill}} </span></h3>
        		<h3 ng-show="previousBill > 0"><span class="label label-info">  Previous Bill: ${{previousBill}}</span></h3>
        		<h1><span class="label label-success">  Total Bill: ${{bill + previousBill}} </span></h1>

        	</div>
        </div>
        <div class="modal-footer">
        	<button class="btn btn-success" ng-disabled="!canPay" ng-show="previousBill > 0" ng-click="pay()">Pay Bill</button>
        	<button class="btn btn-primary" ng-click="order()">Place Order</button>
            <button class="btn btn-primary" ng-click="done()">Go Back</button>
        </div>
    </script>
	<div ng-controller="ResturantController">
		<div class="row">
			<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-repeat="(key,table) in tables">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">Table {{key+1}} <div ng-show="table.bill > 0"><span>$</span> {{table.bill}}</div></h3>
						</div>
						<div class="panel-body">
							<div class="btn-group-vertical" role="group" aria-label="...">
								<button type="button" ng-hide="table.occupied" ng-disabled="table.disabled" class="btn btn-default"ng-click="occupy(key)">Occupy</button>
								<button type="button" ng-show="table.occupied" ng-click="open('lg',key)" class="btn btn-primary">Open UI</button>
							</div>
						</div>
					</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="overflow: auto; height:600px">
					<h2>Kitchen Queue</h2>
					<table class="table table-striped">
						<thead>
							<tr><th>Table #</th><th>Food Item</th><th>Progress</th></tr>
						</thead>
						<tbody>
							<tr ng-repeat="food in kitchenQueue | orderBy: '-timeleft' track by $index " ng-if="food">
								<td>Table {{food.id}}</td>
								<td>{{food.item}}</td>
								<td><progressbar animate="true" class="progress-striped" value="food.timeleft" type="{{food.status}}">{{food.timeleft}}%</progressbar></td>
							</tr>	
						</tbody>
					</table>
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<div id = "blackbox" >
					<div id="table1">
						<img class="face" src="img/face.png" ng-show="tables[0].occupied"/>
						<img class="angry" src="img/angry.png" ng-show="tables[0].status == 'pending'"/>
						<img class="tableImg1" src='img/table.png'/>
					</div>
					<div id="table2">
						<img class="face" src="img/face.png"  ng-show="tables[1].occupied"/>
						<img class="angry" src="img/angry.png" ng-show="tables[1].status == 'pending'"/>
						<img class="tableImg1" src='img/table.png'/>
					</div>
					<div id="table3">
						<img class="face" src="img/face.png" ng-show="tables[2].occupied"/>
						<img class="angry" src="img/angry.png" ng-show="tables[2].status == 'pending'"/>
						<img class="tableImg1" src='img/table.png'/>
					</div>
					<div id="table4">
						<img class="face" src="img/face.png" ng-show="tables[3].occupied"/>
						<img class="angry" src="img/angry.png" ng-show="tables[3].status == 'pending'"/>
						<img class="tableImg1" src='img/table.png'/>
					</div>
					<div id="table5">
						<img class="face" src="img/face.png" ng-show="tables[4].occupied"/>
						<img class="angry" src="img/angry.png" ng-show="tables[4].status == 'pending'"/>
						<img class="tableImg1" src='img/table.png'/>
					</div>
					<div id="table6">
						<img class="face" src="img/face.png" ng-show="tables[5].occupied"/>
						<img class="angry" src="img/angry.png" ng-show="tables[5].status == 'pending'"/>
						<img class="tableImg1" src='img/table.png'/>
					</div>
					
					<div class='kitchen'>
						<img id="kitchenCounter" src="img/kitchen.png"/>
						<div class='robot'>
							<img id="robotArm" src="img/robotArm.png"/>
						</div>
					</div>
					<audio style='display:none;' id='cash' preload='auto'>
						<source src="sfx/cash.mp3"></source>
					</audio>

				</div>
				<div class="alert alert-info" role="alert"><h3>{{message}}</h3></div>
				<div class="options">
					<select class="form-control" ng-options="interval.interval as interval.name for interval in intervals" ng-change="updateInterval()" ng-model="currentInterval"></select>

				</div>
				<div class='sound'>
					SFX: <input type='checkbox' ng-model='playSounds' />
				</div>
			</div>

			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="overflow: auto; height:600px">
					<h2>Robot Queue</h2>
					<table class="table table-striped">
						<thead>
							<tr><th>Table #</th><th>Food Item</th><th>Action</th></tr>
						</thead>
						<tbody>
							<tr ng-repeat="order in orders">
								<td>{{order.id + 1 }}</td>
								<td>{{order.item}}</td>
								<td>{{order.command}}</td>
							</tr>	
						</tbody>
					</table>
			</div>
		</div>
		<!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<button type="button" class="btn btn-large btn-block btn-danger" ng-click="stressTest()">STRESS TEST!!</button>
		</div> -->
	</div>

</body>
</html>
